.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-title {
  margin-top: 5vw;
  margin-bottom: 2vw;
}

.home-body {
  margin: 2vw;
}

.home-button {
  background-color: #44afdd; /* 按钮背景颜色 */
  color: white; /* 字体颜色 */
  border: none !important; /* 无边框 */

  padding: 1.5vw 3vw; /* 内边距 */
  font-size: 1.2vw; /* 字体大小 */
  margin: 1.5vw; /* 外边距 */
  transition-duration: 0.8s !important; /* 过渡动画持续时间 */
  cursor: pointer; /* 鼠标指针变为手形 */
  border-radius: 8px; /* 边框圆角 */
  height: 5vw;
  width: 20vw;
}

.home-button:hover {
  background-color: #9e9e9e !important; /* 鼠标悬停时的背景颜色 */
  color: white; /* 鼠标悬停时的字体颜色 */
}

.create-page-container {
  margin-top: 2vw;
  margin-bottom: 10vw;
  margin-left: 15vw;
  margin-right: 15vw;
}
.upc-input-container {
  margin-right: 2vw;
}
.create-page-form-label {
  margin-right: 1vw;
  font-weight: bolder;
}
.upc-qty-save-container {
  display: flex;
  margin-bottom: 3vw;
}
.upc-qty-input-container {
  width: 60%; /* 占容器的60% */
  display: flex;
  align-items: center;
  margin-left: 3vw;
}

.save-button-container {
  display: flex;
  width: 25%; /* 让容器的宽度等于父容器的宽度 */
  align-items: center; /* 让按钮与输入框垂直居中 */
  margin-left: 4vw;
}

.bootstrap-save-button {
  flex: 0.7; /* 让按钮的宽度等于容器宽度 */
  height: 90%; /* 让按钮的高度等于容器的高度 */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.create-page-table {
  margin-top: 1vw;
}

.system-logout {
  margin-left: 15vw;
  margin-right: 15vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-page-input-container {
  display: flex;
  margin-bottom: 3vw;
}
.search-input-container {
  width: 70%;
  display: flex;
  align-items: center;
  margin-right: 3vw;
}

.search-page-input {
  width: 100%;
}

.search-button-container {
  display: flex;
  width: 30%; /* 让容器的宽度等于父容器的宽度 */
  align-items: center; /* 让按钮与输入框垂直居中 */
}

.bootstrap-search-button {
  flex: 1; /* 让按钮的宽度等于容器宽度 */
  height: 90%; /* 让按钮的高度等于容器的高度 */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.package-detail-page-input-container {
  margin-top: 3vw;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}
.unpack-button-container {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}
.bootstrap-Unpack-button {
  /* flex: 1; 让按钮的宽度等于容器宽度 */
  /* height: 80%; 让按钮的高度等于容器的高度 */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.history-search-input-container {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 55vw;
}
